<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            <p>
                Search:
                <input ng-model="$ctrl.query">
            </p>
            <p>
                Sort by:
                <select ng-model="$ctrl.orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>
            </p>

        </div>
        <div class="col-md-10">
            <!--Body content-->
            <p>Stai cercando {{ $ctrl.query }}</p>
            <ul class="phones">
                <li ng-repeat="phone in $ctrl.phoneList | filter:$ctrl.query:$ctrl.compare | orderBy:$ctrl.orderProp"
                    class="thumbnail">
                    <a href="#!/phones/{{phone.id}}" class="thumb">
                        <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
                    </a>
                    <a href="#!/phones/{{phone.id}}">{{phone.name | uppercase}}</a>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>
            <p>Total number of phones: {{$ctrl.phoneList.length}}</p>
        </div>
    </div>
</div>